.palette-page {
  @include page-settings;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}