.customInput {
  width: 100%;
  padding: 8px;

  color: var(--font-color);
  font-size: 16px;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--input-bg);

  &:focus-visible {
    outline: none;
  }

  &:invalid, &.invalidInput {
    border: var(--error-color) solid 3px;
  }
}

.error {
  width: 100%;
  color: var(--error-color);
  font-size: 80%;
}