.themeBtn {
  width: 25px;
  height: 25px;
  cursor: pointer;

  path {
    fill: var(--icon-color);
  }

  &:hover {
    path {
      fill: var(--icon-color-hover);
    }
  }

  &:active {
    path {
      fill: var(--icon-color);
    }
  }
}