.color-selector {
  &[popover] {
    min-width: 350px;

    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px var(--palette-shadow-color);
    background: var(--popover-bg);

    position-area: right span-top;
    position-try-fallbacks: right span-all;
    translate: 15px -20px;
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__preview {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: 1px solid rgba(var(--mui-palette-common-onBackgroundChannel) / 0.23);
  }
}