* {
  margin: 0;
  padding: 0;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #{$color-white};
  --font-color: #{$color-black};
}

.dark-theme {
  --bg-color: #{$color-black};
  --font-color: #{$color-white};
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: 16px;
  line-height: 19.49px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}