$color-white: #fff;
$color-black: #000;

$grey-0: #f8f9faff;
$grey-1: #e9ecefff;
$grey-2: #F6F6F6ff;
$grey-3: #ced4daff;
$grey-4: #adb5bdff;
$grey-5: #6c757dff;
$grey-6: #495057ff;
$grey-7: #303030ff;
$grey-8: #212529ff;
$grey-9: #16181bff;

$error-color: #D8474A;

$header-height: 50px;
$td-color-width: 200px;

$indent: 10%;

@mixin total-indentation {
  padding-left: $indent;
  padding-right: $indent;
}

@mixin page-settings {
  @include total-indentation;

  padding-top: 15px;
  padding-bottom: 15px;
}
