.add-palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(.MuiCardActionArea-root) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:visited {
      color: var(--mui-palette-text-primary); /* Фиолетовый цвет для посещенных */
    }

    svg {
      width: 30%;
    }

  }
}