.main-page {
  @include page-settings;

  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.palettes-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;

  > * {
    min-width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 2px var(--palette-shadow-color);
    background-color: var(--palette-item-bg);
    cursor: pointer;

    text-decoration: none;
    color: var(--font-color);

    &:hover {
      box-shadow: 0px 5px 10px 4px var(--palette-shadow-color-hover);
      color: var(--icon-color-hover);
    }
  }
}