.main-page {
  @include page-settings;

  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.palettes-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;

  > * {
    min-width: 300px;
    height: 200px;
  }
}