.header {
  @include total-indentation;

  width: 100%;
  height: $header-height;
  border-bottom: 1px solid var(--mui-palette-divider);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  &__github {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
      width: 25px;
      height: 25px;
      cursor: pointer;
      color: var(--icon-color);
    }
  }

  &__link {
    width: 100px;
    height: 100%;
    text-decoration: none;
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--navlink-bg-hover);
    }
  }
}