.color-item {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--border-color);

  &__color {
    width: 200px;
  }

  @mixin common-td {
    text-align: left;
    vertical-align: middle;
    padding: 10px;
  }

  &__hex {
    @include common-td;

    width: 120px;
  }

  &__rgb, &__hsl {
    @include common-td;

    width: 200px;
  }

  &__comment {
    @include common-td;
  }

  & &__actions {
    &-wrapper {
      @include common-td;

      width: 150px;
      max-width: 150px;
    }

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    button {
      min-width: auto;
      min-height: auto;
      border: none;
      background: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      &:hover {
        background: none;
      }
    }

    svg {
      width: 25px;
      height: 25px;
      cursor: pointer;

      path {
        stroke: var(--icon-color);
      }

      &:hover {
        path {
          stroke: var(--icon-color-hover);
        }
      }
    }

    [popover] {
      position-area: left span-bottom;
      position-try-fallbacks: left span-all, left span-top;
      translate: -10px 0;
    }
  }
}

:global(.drag-over) {
  border-bottom: 3px solid var(--border-color);
}