.palette-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__colors {
    height: 65%;
    width: 100%;
    display: grid;
  }

  &__name {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}